{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EasyLoan - is the Loan Company Website Template.">
    <meta name="keywords" content="Loan Company, Loan Agency, Students Loan, Car Loan, Home Loan, Loan Product, Personal Loan, Bad credit, Loan Advisor, Financial Website Template, Banking, Loan provider, Bootstrap Template, Landing Page, EasyLoan">
    <meta name="author" content="">

    <title>Borrow4me - For most wanted loan</title>
    <link rel="shortcut icon" href="{%static '/assets/img/bb.ico'%}" type="image/x-icon">
    <link rel="icon" href="{%static '/assets/img/bb.ico'%}" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="{%static '/assets/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{%static '/assets/font-awesome/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/simple-line-icons/css/simple-line-icons.css'%}">

    <!-- Animate CSS -->
    <link href="{%static 'assets/css/animate.min.css'%}" rel="stylesheet" media="all">

    <!-- Preloader CSS -->
    <!-- <link rel="stylesheet" href="/static/css/preloader.css"> -->

    <!-- Jquery UI CSS -->
    <link href="{%static '/assets/jquery/ui/jquery-ui.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%static '/assets/css/custom.css'%}" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{%static '/assets/css/responsive.css'%}" rel="stylesheet">

    <script src="{%static '/apply/js/form.js'%}">
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    ;
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->



    <style>
        #regForm {
            background-color: #ffffff;
            margin: 0px auto;
            padding: 40px;
            width: 70%;
            min-width: 300px;
        }
        /* Style the input fields */
        
        input {
            padding: 10px;
            width: 100%;
            font-size: 17px;
            font-family: Raleway;
            border: 1px solid #aaaaaa;
        }
        /* Mark input boxes that gets an error on validation: */
        
        input.invalid {
            background-color: #ffdddd;
        }
        /* Hide all steps by default: */
        
        .tab {
            display: none;
        }
        /* Make circles that indicate the steps of the form: */
        
        .step {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbbbbb;
            border: none;
            border-radius: 50%;
            display: inline-block;
            opacity: 0.5;
        }
        /* Mark the active step: */
        
        .step.active {
            opacity: 1;
        }
        /* Mark the steps that are finished and valid: */
        
        .step.finish {
            background-color: #15549a;
        }
    </style>

</head>

<body id="page-top">

    <!-- Preloader -->
    <div id="preloader">
        <div id="wave"></div>
    </div>
    <div id="mask"></div>
    <!-- End Of Preloader -->

    <!-- NavBar -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top has-menu">
        <div class="container">
            <!-- Brand Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'home' %}">
                    <img src="{%static '/assets/img/logo4.png'%}" alt="LOGO">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{% url 'home' %}">Home</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#features">Why Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#calculator">How Much?</a>
                    </li> -->
                    <!-- <li>
                        <a class="page-scroll" href="#agents">Agents</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#faq">FAQ</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Nav Bar -->


    <!-- Section EMI Calculator  -->
    <section id="calculator" class="loan-calculator">
        <div class="container">
            <div class="row  text-center">
                <div class="col-md-10 col-md-offset-1">
                    <br>
                    <h4 class="section-heading">HOW MUCH DO YOU NEED?</h4>
                    <!-- <p class="text-muted">Calculate EMI for a loan. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p> -->
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 loan-details-box">
                    <div class="single-loan-slider">
                        <h4>Amount <span class="mm-amount">(Minimum ₦5000)</span></h4>
                        <div id="amount-slide"></div>
                        <div>
                            <h5><span>₦</span> <span id="amount"></span></h5>
                        </div>
                    </div>
                    <div class="single-loan-slider">
                        <h4>Duration of Days</h4>
                        <div id="duration-slide"></div>
                        <div>
                            <h5><span id="duration"></span> <span>Days</span></h5>
                        </div>
                    </div>
                    <div class="single-loan-slider">
                        <h4>Rate of Interest</h4>
                        <div id="intrest-slide"></div>
                        <div>
                            <h5><span id="intrest"></span> <span>%</span></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center loan-emi-box">
                    <div class="total-calculation">
                        <div class="single-total">
                            <h5>Daily EMI</h5>
                            <h2 class="emi-price" id="emi">0</h2>
                        </div>
                        <div class="single-total">
                            <h5>Total Interest</h5>
                            <h2 id="tbl_emi">0</h2>
                        </div>
                        <div class="single-total">
                            <h5>Payable Amount</h5>
                            <h2 id="tbl_la">0</h2>
                        </div>
                    </div>
                </div>
            </div>

            <form id="form" class="form" method="POST">
                {% csrf_token %}
                <div style="padding-top: 30px;">

                    <h4 style="font-size: 1.5rem; font-weight: bolder; color: #15549a;">PERSONAL INFO:</h4>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputName">First Name</label>
                        <input type="name" class="form-control input" id="inputEmail4" placeholder="First Name" name="fname" required>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputName">Last Name</label>
                        <input type="name" name="lname" class="form-control input" id="inputPassword4" placeholder="Last Name" required>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Email </label>
                        <input type="email" name="email" class="form-control input" id="email" placeholder="Email" required>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="inputAddress">Address</label>
                        <input type="text" name="address" class="form-control input" id="address" placeholder="1234 Main St" required>
                        <span class="error-message"></span>
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="inputAddress">Phone</label>
                        <input type="text" name="phone" class="form-control input" id="phone" placeholder="1234 Main St" required>
                        <span class="error-message"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control" name="state">
                            <option selected>Choose...</option>
                            <option> Abia</option>
                            <option>Adamawa </option>
                            <option> Akwa Ibom</option>
                            <option> Anambra</option>
                            <option> Bauchi</option>
                            <option>Bayelsa </option>
                            <option> Benue</option>
                            <option> Borno</option>
                            <option> Cross River</option>
                            <option> Delta</option>
                            <option> Ebonyi</option>
                            <option> Edo</option>
                            <option> Ekiti</option>
                            <option> Enugu</option>
                            <option>Gombe</option>
                            <option>Imo</option>
                            <option> Jigawa</option>
                            <option>Kaduna</option>
                            <option>Kano</option>
                            <option>Katsina</option>
                            <option>Kebbi</option>
                            <option>Kogi</option>
                            <option>Kwara</option>
                            <option>Lagos</option>
                            <option>Nasarawa</option>
                            <option>Niger</option>
                            <option>Ogun</option>
                            <option>Ondo</option>
                            <option>Osun</option>
                            <option>Oyo</option>
                            <option>Plateau</option>
                            <option>Rivers</option>
                            <option>Sokoto</option>
                            <option>Taraba</option>
                            <option>Yobe</option>
                            <option>Zamfara</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="inputCity">L.G.A</label>
                        <input type="text" class="form-control" id="inputCity" name="city" placeholder="LGA">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip" placeholder="Optional" name="zip">
                    </div>
                </div>
                <br>
                <br>
                <div style="">
                    <h4 style="font-size: 1.5rem; font-weight: bolder; color: #15549a;">BILLING INFO:</h4>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputState">Bank Name</label>
                        <select id="inputState" class="form-control" name="bank_name">
                            <option selected>Choose...</option>
                            <option value="access">Access Bank</option>
                            <option value="citibank">Citibank</option>
                            <option value="diamond">Diamond Bank</option>
                            <option value="ecobank">Ecobank</option>
                            <option value="fidelity">Fidelity Bank</option>
                            <option value="firstbank">First Bank</option>
                            <option value="fcmb">First City Monument Bank (FCMB)</option>
                            <option value="gtb">Guaranty Trust Bank (GTB)</option>
                            <option value="heritage">Heritage Bank</option>
                            <option value="keystone">Keystone Bank</option>
                            <option value="polaris">Polaris Bank</option>
                            <option value="providus">Providus Bank</option>
                            <option value="stanbic">Stanbic IBTC Bank</option>
                            <option value="standard">Standard Chartered Bank</option>
                            <option value="sterling">Sterling Bank</option>
                            <option value="suntrust">Suntrust Bank</option>
                            <option value="union">Union Bank</option>
                            <option value="uba">United Bank for Africa (UBA)</option>
                            <option value="unity">Unity Bank</option>
                            <option value="wema">Wema Bank</option>
                            <option value="zenith">Zenith Bank</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="inputCity">Account Number</label>
                        <input type="text" class="form-control" id="inputCity" name="account_number" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputZip">BVN</label><span style="font-weight: lighter; font-size: 12px;"> (must be
                            linked to your phone number) </span>
                        <input type="number" class="form-control" id="inputZip" name="bvn" required>
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="inputAddress">Name on Card</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Name on Card" name="card_name" required>
                    </div>
                    <div class="form-group col-md-6 ">
                        <label for="inputAddress">Card Number</label>
                        <input type="number" class="form-control" id="inputAddress" placeholder="1234 4435554 3342" name="card_number" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputState">EXP. month</label>
                        <select id="inputState" class="form-control" required name="card_month">
                            <option selected>Choose...</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="inputCity">EXP. year</label>
                        <select id="inputState" class="form-control" name="card_year">
                            <option selected>Choose...</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputZip">CVC</label><span style="font-weight: lighter; font-size: 12px;"> (3 digits
                            at the back of your card) </span>
                        <input type="number" class="form-control" id="inputZip" name="card_cvc">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="form-check">
                        <button type="submit" class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- End Section EMI Calculator -->
    <section id="faq" class="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <i class="icon-question faq_icon"></i>
                    <h2 class="faq_title">LOAN APPLICATION GUIDE
                    </h2>
                    <p>Everything you need to know about taking a loan.</p>
                    <a class="btn btn-primary page-scroll" href="https://wa.me/message/BJMHIL5VS3ENB1">Ask Question</a>
                </div>
                <div class="col-md-7 mar-20t">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Who is Eligible for a Loan?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <ul>
                                        <li>A salary earner receiving a minimum of N15,000 monthly</li>
                                        <li> A pensioner receiving a minimum pension of N10,000 monthly</li>
                                        <li>A business owner</li>
                                        <li>A Seller at the market</li>

                                    </ul>

                                </div>
                            </div>

                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How can I apply for a Loan?</a>
                                </h4>
                            </div>
                            <div id="collapseTen" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>Fill out an application form on the website</li>
                                        <li> Contact our customer service on +234 095 93493</li>
                                        <li>Send us Email on info@Borrow4me@gmail.com</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Can I repay my loan or repay part of my loan earlier than the end date?</a>
                                </h4>
                            </div>
                            <div id="collapseEleven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Yes, you can. Call us today on 012716816 or send an email to: info@Borrow4me@gmail.com
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What benefits do I gain if I repay my loan without defaulting?</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    You are eligible for up to 3 months’ instalment refund when you repay on time
                                    <br>Terms and conditions apply </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">I am having issues meeting up with my loan repayments?</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We can reschedule your loan to make your repayments easier<br> Call us today on 012716816 or send an email to: customerservice@unionbankng.com </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Of Section FAQ -->


    <!-- Section Brand -->
    <section id="brand_logo" style="background:#fff">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="setion-title text-center">Our Partner</h2>
                </div>
            </div>
            <div class="row mr_top_10">
                <div class="col-sm-12">
                    <ul class="list-inline list-logo">
                        <li class="">
                            <a href="#"><img src="{%static '/assets/img/brand-logo/me.jpeg'%}" alt="Brand Logo"></a>
                        </li>
                        <li class="">
                            <a href="#"><img src="{%static '/assets/img/brand-logo/download.png'%}" alt="Brand Logo"></a>
                        </li>
                        <li class="">
                            <a href="#"><img src="{%static '/assets/img/brand-logo/indo.png'%}" alt="Brand Logo"></a>
                        </li>
                        <li class="">
                            <a href="#"><img src="{%static '/assets/img/brand-logo/oax.jpeg'%}" alt="Brand Logo"></a>
                        </li>
                        <li class="">
                            <a href="#"><img src="{%static '/assets/img/brand-logo/soil.jpeg'%}" alt="Brand Logo"></a>
                        </li>
                        <li class="">
                            <a href="#"><img src="{%static '/assets/img/brand-logo/300.jpeg'%}" alt="Brand Logo"></a>
                        </li>
                        <li class="">
                            <a href="#"><img src="{%static '/assets/img/brand-logo/download.png'%}" alt="Brand Logo"></a>
                        </li>
                        <li class="">
                            <a href="#"><img src="{%static '/assets/img/brand-logo/tmg.jpeg'%}" alt="Brand Logo"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Of Section Brand -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2017 Borrow4me. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- End Of Footer -->



    <!-- FORM VALIDATION -->
    <!-- jQuery -->
    <script src="/static/assets/jquery/jquery.min.js "></script>
    <script src="/static/assets/jquery/ui/jquery-ui.js "></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="/static/assets/bootstrap/js/bootstrap.min.js "></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.js "></script>
    <script src="/static/js/jquery.counterup.js "></script>
    <script src="/static/js/jquery.waypoints.js "></script>
    <script src="/static/js/bs.slider.js "></script>


    <!-- Theme JavaScript -->
    <script src="/static/js/emi-calculator.js "></script>
    <script src="/static/js/custom.js "></script>
    <script src="/static/js/testimonials.js "></script>
</body>

</html>

</body>

</html>
</body>

</html>

</body>

</html>