<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
  }

  .panel-default {
    opacity: 0.9;
    margin-top: 30px;
  }
  .form-group.last {
    margin-bottom: 0px;
  }
  .major-box{
    display: flex;
  }
</style>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
  <div class="row">
      <div class="col-md-4 col-md-offset-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-lock"></span> Login
          </div>
          <div class="panel-body view">
            <form action="" method="POST" class="form-horizontal" role="form">
              {% csrf_token %}
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">
                  Email</label
                >
                <div class="col-sm-9">
                  <input
                    type="email"
                    maxlength="100" 
                    required
                    name="email"
                    class="form-control"
                    id="inputEmail3"
                    placeholder="Email"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">
                  Password</label
                >
                <div class="col-sm-9">
                  <input
                    type="password"
                    name="password"
                    maxlength="100" 
                    required
                    class="form-control"
                    id="inputPassword3"
                    placeholder="Password"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" />
                      Remember me
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group last">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-##00cdff btn-sm" style="background-color:#00cdff;">
                    Sign in
                  </button>
                  <button type="reset" class="btn btn-default btn-sm">
                    Reset
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="panel-footer">
            Not Registred?
            <a href="https://web.facebook.com/" target="blank">Register here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
